# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\教材作业\Java\SpringCloud-Study\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
